@font-face {
  font-family: 'hacked';
  src: url('../fonts/hacked.eot'); /* IE9 Compat Modes */
  src: url('../fonts/hacked.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/hacked.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/hacked.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/hacked.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/hacked.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body{
    background-color: #343838;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color:#fff !important;
}

h1{
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
}

h2{
    color:rgb(79, 165, 123);
}

h2 a{
    color:rgb(79, 165, 123) !important;
}

#header{
    position: fixed;
    width: 100vw;
    height: 80px;
    background-color: #141818;
    z-index: 10;
}
#header span{
    display: inline-block;
    vertical-align: middle;
}

#header a{
    color: rgb(79, 165, 123) !important;
    font-family: 'hacked', sans-serif;
    font-size: 2em;
    font-weight: normal;
    vertical-align: middle;
}

#header img{
    height: 60px;
    margin-top: 8px;
    margin-left: 10px;
}

#leftPanel{
    background-color: #242828;
    position: fixed;
    width: 200px;
    top: 80px;
    height: 100%;
    margin: 0px;
    padding: 3px;
}

#leftPanel li{
    list-style-type: none;
}

#navigation{
    padding: 0px;
    padding-left: 20px;
}

#navigation li{
    margin: 5px;
}

i{
    padding-right: 5px;
}

#mainContent{
    margin-left: 230px;
    padding-top: 100px;
}

#bandeauGithub{
    background-color: rgb(79, 165, 123);
    display: inline-block;
    transform: rotate(45deg);
    position: fixed;
    right: -70px;
    top: 120px;
    padding: 20px;
    padding-right: 70px;
    padding-left: 70px;
    border-width: 1px;
    border-color: #ddd;
    border-spacing: 20px 20px;
    border-top-style: dotted;
    border-bottom-style: dotted;
}

#rightPanel{
    position: fixed;
    right: 0px;
    top: 80px;
    background-color: #242828;
    height: 100vh;
    width: 300px;
}

#rightPanel h2{
    padding: 10px;
}
	
.form div{
	padding-top: 5px;
}	
.form div label{
	width: 150px;
	display: inline-block;
}
.form div input[type=text]{
    border-radius: 3px;
	padding: 4px;
	width: 20vw;
	background-color: #333;
	border: none;
	color: #fff;
}
.form div:first-child input[type=text]{
	background-color: #555;
}
input[type=submit]{
	position: absolute;
	right:10%;
	background-color: #0DDF0D;
	border: none;
	border-radius: 4px;
	padding:10px;
	cursor: pointer;
}

@media screen and (min-width:1070px)
{
}
@media screen and (min-width:500px) and (max-width:1070px)
{
}
@media screen and (max-width:500px)
{
}