{% extends "base.html" %}
{% block content %}
<a href="https://github.com/MarcAntoine-Arnaud/wisual"><div id="bandeauGithub">Fork me on Github</div></a>
<h2><i class="fa fa-question-circle"></i>Why Wisual ?</h2>
<p>Wisual is an engine to process analysis between media to evaluate theire similarity.</p>
<p>Similarity can be process using some differents algorithms like:<br/>
<ul>
	<li>PSNR</li>
	<li>SSIM</li>
	<li>MS-SSIM</li>
	<li>VQM</li>
	<li>Blurring metric</li>
	<li>Blocking metric</li>
	<li>Drop frame metric</li>
	<li>Noise Estimation metric</li>
	<li>...</li>
</ul></p>
<br/>
<p>Wisual is an fully open-source service, which can be installed and used as a web service.
</p>
{% endblock %}