{% extends "base.html" %}
{% block content %}
<h2><i class="fa fa-history"></i>List Analysis</h2>

<div id="job-listing">
	<table>
		<tr>
			<th>Mode</th>
			<th>Reference</th>
			<th>Start</th>
			<th>End</th>
			<th>Result</th>
		</tr>
	{% for job in jobs %}
		<tr>
			<td>
				{% for analysisMode in analysisModes %}
					{% if analysisMode.id == job.analysisMode %}
						{{ analysisMode.name }}
					{% endif %}
				{% endfor %}</td>
			<td>{{job.referenceVideo}}</td>
			<td>{{job.startDate}}</td>
			<td>{{job.endDate}}</td>
			<td><a href="/{{job.outputFile}}"><i class="fa fa-arrow-circle-right"></i>{{job.status}}</a></td>
		</tr>
	{% endfor %}
	</table>
</div>

{% endblock %}