<html>
<head>
  <title>Wisual - psnr</title>
  <link href={{url_for('static', filename='css/main.css')}} rel="stylesheet" type="text/css" />
  <script src={{url_for('static', filename='js/jquery-2.1.3.min.js')}} ></script>
  <script src={{url_for('static', filename='js/psnr.js')}}></script>
  <script src={{url_for('static', filename='js/Chart.js')}}></script>
</head>
<body>
  <div class="corps">
    <center><h1>PSNR processor</h1></center>
    <canvas id="line" height="300" width="600"></canvas>
      <script type="text/javascript">
          $.ajax({
                type: "GET",
                url: "/results/result.xml"
                })
            .done(function(data){
                console.log(data);
                        //console.log(req.analyse.frame[0])
                var curve1 =[];
                $.each(data.analyse.frame,
                function(index,frameData){
                        curve1.push(frameData.result);

                               //{console.log(frameData)}



                          var lineChartData = {
                            labels : ["","","","","","",""],
                            datasets : [
                                {
                                    fillColor : "rgba(220,220,220,0.5)",
                                    strokeColor : "rgba(220,220,220,1)",
                                    pointColor : "rgba(220,220,220,1)",
                                    pointStrokeColor : "#fff",
                                    data : curve1
                                }
                            ]

                        }
                        new Chart(document.getElementById("line").getContext("2d")).Line(lineChartData);
                        Chart.defaults.global.responsive = true;

		      });
        
            })
            .error(function(data){
                console.log('POST ERROR !');
            })
    </script>
</div>
</body>
</html>