<html>
<head>
  <title>Wisual - ssim</title>
  <link href={{url_for('static', filename='css/main.css')}} rel="stylesheet" type="text/css" />
</head>
<body>
  <center><h1>SSIM processor</h1></center>
  <div class="form">
    <div>
      <label>Reference File</label>
      <input type="text" autocomplete="on"/>
    </div>
    <div>
      <label>Comparison File 1</label>
      <input type="text" autocomplete="on"/>
    </div>
    <div>
      <label>Comparison File 2</label>
      <input type="text" autocomplete="on"/>
    </div>
    <div>
      <label>Comparison File 3</label>
      <input type="text" autocomplete="on"/>
    </div>
    <div>
      <label>Comparison File 4</label>
      <input type="text" autocomplete="on"/>
    </div>
    <div>
      <label>Comparison File 5</label>
      <input list="file">
    </div>
  </div>
</body>
</html>